<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>871583324770-0l3fddc3tg1e67qs5toes9ko3lompip4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.871583324770-0l3fddc3tg1e67qs5toes9ko3lompip4</string>
	<key>API_KEY</key>
	<string>AIzaSyCBPsAKogYofGXamdwgDmtarnAnsjF-1vQ</string>
	<key>GCM_SENDER_ID</key>
	<string>871583324770</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jishenaz.Breakpoint</string>
	<key>PROJECT_ID</key>
	<string>breakpoint-f93fc</string>
	<key>STORAGE_BUCKET</key>
	<string>breakpoint-f93fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:871583324770:ios:0b22dd2a6a436f77</string>
	<key>DATABASE_URL</key>
	<string>https://breakpoint-f93fc.firebaseio.com</string>
</dict>
</plist>
